
.menu-lateral{
    color: var(--texto-claro);  
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #2E4656;
    gap: var(--espaco-7);
    padding: var(--espaco-7);
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    border:none;

}

.menu-lateral > button{
    color: var(--texto-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    outline:none;
    padding: 6px 8px;
}