.button {
    padding: 8px 12px;
    background-color: var(--cor-principal);
    border-radius: 16px;
    color: var(--texto-claro);
    border: none;
    transition: 0.5s;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 40px;

    path {
        stroke: var(--texto-claro);
    }
}

.button:hover {
    cursor: pointer;
    outline: 3px solid var(--primaria-4);
    background-color: var(--primaria-1);
}

.button:active {
    transition: 0.05s;
    scale: 0.95;     
}

.button:global(.outlined) {
    background-color: transparent;
    border: 2px solid var(--texto-escuro);
    color: var(--texto-escuro);
    font-weight: bold;
    transition: 0.2s;

    path {
        stroke: var(--texto-escuro);
    }
}

.button:global(.outlined):hover{
    border: 2px solid var(--cor-principal);
    color: var(--cor-principal);
    outline: none;

    path {
        transition: 0.2s;
        stroke: var(--cor-principal);
    }
}



