
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100vw;
    box-shadow: 0 -2px 4px black;
    background-color: var(--fundo-main);
    margin-bottom: var(--espaco-7);
}

header nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

#btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: fit-content;
    background-color: transparent;
    border: 2px solid var(--borda-card);
    border-radius: 16px;
    padding: 6px 8px;
}



/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    margin: 0 auto;
    flex-grow: 1;
    display: grid;
    place-content: center center;
}

main nav {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--primaria-1);
    padding: var(--espaco-7);
    position: relative;
    text-align: center;
    border-radius: var(--espaco-5);

}

.card-link:hover {
    border: 2px solid var(--primaria-3)
}

.card-link p, h4 {
    color: var(--texto-claro);
    z-index: 2;
}

.card-link img.icone {
    position: absolute;
    top: 45%;
    opacity: 0.15;
    scale: 4;
    z-index: 1;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */

footer {
    width: 100%;
    text-align: center;
}

