* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

    /* CORES */

    --preto: #040316;

    --claro-1: #FBFBFE;
    --claro-2: #EFEFFB;
    --claro-3: #E2E2F8;
    --claro-4: #D6D6F5;
    --claro-5: #CACAF2;

    --cinza-1: #ADADEB;
    --cinza-2: #9E9EC7;
    --cinza-3: #8A8AA8;
    --cinza-4: #73738C;
    --cinza-5: #5C5C70;

    --primaria-1: #59A694;
    --primaria-2: #509585;
    --primaria-3: #478576;
    --primaria-4: #3E7468;
    --primaria-5: #2C534A;

    /* TOKENS */

    --texto-claro: var(--claro-1);
    --texto-escuro: var(--preto);

    --fundo-main: var(--claro-1);
    --fundo-card: var(--claro-2);
    --fundo-controle: var(--claro-3);

    --borda-card: var(--cinza-1);

    --radius-button: var(--espaco-5);
    --radius-input: var(--espaco-4);

    /* ESPAÇAMENTOS */

    --espaco-0: 0px; 
    --espaco-1: 4px; 
    --espaco-2: 6px; 
    --espaco-3: 8px; 
    --espaco-4: 12px; 
    --espaco-5: 16px; 
    --espaco-6: 20px; 
    --espaco-7: 26px; 
    --espaco-8: 32px; 
    --espaco-9: 40px; 
    --espaco-10: 64px; 

    /* FONTE */

    --heading-typeface: 'League Spartan';
    --body-typeface: 'Nunito Sans';

    --body-big: 19.2px;
    --body-main: 16px;
    --body-small: 13.3px;

    --heading-1: 47.8px;
    --heading-2: 39.8px;
    --heading-3: 33.2px;
    --heading-4: 27.6px;
    --heading-5: 23px;

}

p.big {
    font-family: var(--body-typeface);
    font-size: var(--body-big);
}

p, a, button {
    font-family: var(--body-typeface);
    font-size: var(--body-main);
    color: var(--texto-escuro)
}

small {
    font-family: var(--body-typeface);
    font-size: var(--body-small);
}

h1 {
    font-family: var(--heading-typeface);
    font-size: var(--heading-1);
}

h2 {
    font-family: var(--heading-typeface);
    font-size: var(--heading-2);
}

h3 {
    font-family: var(--heading-typeface);
    font-size: var(--heading-3);
}

h4 {
    font-family: var(--heading-typeface);
    font-size: var(--heading-4);
}

h5 {
    font-family: var(--heading-typeface);
    font-size: var(--heading-5);
}

.icone {
    width: 24px;
    height: 24px;
}